@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap");
:root {
  /* ============================================font-size================================ */
  --fs-5xl: 40px;
  --fs-4xl: 34px;
  --fs-3xl: 33px;
  --fs-2xl: 32px;
  --fs-xl: 24px;
  --fs-xxlg: 23px;
  --fs-xlg: 22px;
  --fs-llg: 21.12px;
  --fs-lg: 21px;
  --fs-xmd: 20px;
  --fs-md: 18px;
  --fs-lsm: 17px;
  --fs-msm: 16px;
  --fs-xsm: 15px;
  --fs-sm: 14.08px;
  --fs-smx: 13px;
  --fs-smx2: 13.08px;
  --fs-smx3: 12.96px;
  /*========================================= color =======================*/
  --lightgreen-color: #00ccab;
  --lightsky-color: #bccbd6;
  --white-color: #fff;
  --thick-white: #rgb(255, 255, 255);
  --color-darkgreen: #111b24;
  /*==============================================bg-color ===========================================*/
    --bg-lightgreen: #00ccab;
    --bg-darkgreen: #111b24;
    --bg-lightergreen:#0F3034;
    /*============================================= border-color ====================================== */
  --border-color: #1b2b3b;
}
.fs_5xl {
  font-size: var(--fs-5xl);
}
.fs_4xl {
  font-size: var(--fs-4xl);
}
.fs_3xl {
  font-size: var(--fs-3xl);
}
.fs_2xl {
  font-size: var(--fs-2xl);
}
.fs_xl {
  font-size: var(--fs-xl);
}
.fs_xxlg {
  font-size: var(--fs-xxlg);
}
.fs_xlg {
  font-size: var(--fs-xlg);
}
.fs_llg {
  font-size: var(--fs-llg);
}
.fs_lg {
  font-size: var(--fs-lg);
}
.fs_xmd {
  font-size: var(--fs-xmd);
}
.fs_md {
  font-size: var(--fs-md);
}
.fs_lsm {
  font-size: var(--fs-lsm);
}
.fs_msm {
  font-size: var(--fs-msm);
}
.fs_xsm {
  font-size: var(--fs-xsm);
}
.fs_sm {
  font-size: var(--fs-sm);
}
.fs_smx {
  font-size: var(--fs-smx);
}
.fs_smx2 {
  font-size: var(--fs-smx2);
}
.fs_smx3 {
  font-size: var(--fs-smx3);
}
.color_lightgreen {
  color: var(--lightgreen-color);
}
.color_lightsky {
  color:var(--lightsky-color);
}
.color_white {
  color: var(--white-color);
}
.white_thick {
  color: var(--thick-white);
}
.darkgreen {
  color: var(--color-darkgreen);
}
.bg_lightgreen {
  background-color: var(--bg-lightgreen);
}
.bg_darkgreen {
  background-color: var(--bg-darkgreen);
}
.bg_lightergreen{background: var(--bg-lightergreen);}
.border_color {
  border-color: var(--border-color);
}
.ff_inter {
  font-family: "inter";
}
.ff_karla {
  font-family: "karla";
}
